@model WebLibrary.Models.Instructor;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/fonts/boxicons.css" />

<div class="container-fluid mt-2 mb-3 p-0">
    <div class="card mb-4 bg-theme">
        <form asp-action="Create" class="ml-5 mt-3 mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="text-theme font-weight-bold"></label>
                            <input asp-for="FirstName" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="text-theme font-weight-bold"></label>
                            <input asp-for="LastName" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="text-theme font-weight-bold"></label>
                            <input asp-for="Gender" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="text-theme font-weight-bold"></label>
                            <input asp-for="Email" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="text-theme font-weight-bold"></label>
                            <input asp-for="PhoneNumber" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="Birthday" class="text-theme font-weight-bold"></label>
                            <input asp-for="Birthday" type="date" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="RegistrationDate" class="text-theme font-weight-bold"></label>
                            <input asp-for="RegistrationDate" type="date" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="Status" class="text-theme font-weight-bold"></label>
                            <input asp-for="Status" class="form-control" style="width: 80%;"/>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="Country" class="text-theme font-weight-bold"></label>
                            <select asp-for="Country" class="form-control" style="width: 80%;"/>
                                <option value="">Please select...</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Japan">Japan</option>
                                <option value="America">America</option>
                                <option value="England">England</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="Username" class="text-theme font-weight-bold"></label>
                            <input asp-for="Username" class="form-control" style="width: 80%;"/>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label asp-for="Password" class="text-theme font-weight-bold"></label>
                            <input asp-for="Password" class="form-control" style="width: 80%;"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success mr-3">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}